
sphoenix_root=${sphoenix_root}
sphoenix_run=${sphoenix_run}
sphoenix_output=${sphoenix_output}
sphoenix_loggingRoot=${sphoenix_loggingRoot}
sphoenix_data=${sphoenix_data}


inner_domain=${inner_domain}
core_host=${sphoenix_host}
core_port=${sphoenix_port}

sphoenix_templates=${sphoenix_templates}
core_web_port=${sphoenix_web_port}
core_app_port=${sphoenix_app_port}
core_protocol=${sphoenix_protocol}
core_domainName=${sphoenix_domainName}
prod_ui_template=${prod_ui_template}
ui_tpl=${ui_tpl}
abtest_template=${abtest_template}
cms_root_2=${cms_root_2}
faq_root=${faq_root}
assets_url=${assets_url}
apimg_url=${apimg_url}

core_inbound_timer_threshold=${sphoenix_inbound_timer_threshold}
sphoenix_loggingLevel=${sphoenix_loggingLevel}
sphoenix_loggingLevel_info=${sphoenix_loggingLevel_info}
cloudengine_zdrmdata_url=${zdrmdata_rest_url}
app_name=${sphoenix_appName}

loggingRoot=${sphoenix_loggingRoot}

core_esb_tcpm_port=${core_esb_tcpm_port}
core_esb_h2_db_home=${core_esb_h2_db_home}
run_mode=

zdrmdata_rest_url=${zdrmdata_rest_url}
dbmode=@dbmode@
zdataconsole_service_url=${zdataconsole_service_url}
zdrmdata_rest_url=${zdrmdata_rest_url}
